body {
    background-color: #242038;
}

h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding-top: 15%;
    height: 100%;
    width: 100%;
}